$font-main: 'Titillium Web', arial, sans-serif, verdana, helvetica,;

$color: #fff; //white
$colors: #253901;
$color1: #256b40; //green
$color2: #fdd015; //yellow
$color3: #f0ecec;
$color4: #262626; //base red
$color5: #d1181e; //black
$color6: #e21319; // lighter red
$color7: #658905; //dark green
$color8: #cc6;
$color9: #f20204;
$color10: #3a9a00; //olive green
$color11: #ebeadd;
$font-color: #262626;
